body{
}

.image_rectangle{
    width: 1440px;
    height: 225px;
}

.image_logo{
    margin-top: 57px;
    margin-right: 953px;
    margin-bottom: 121px;
    margin-left: 60px;
    float: right;
    width: 300px;
    padding: 10px;
}

.text-image{
    overflow: auto;
}

.col-md-6{
    width: 587px;
    height: 587px;
}

.obrigado{
    width: 364px;
    height: 74px;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a0240;
    float: right;
    width: 300px;
    padding: 10px;
}

.o-e-book-ser-enviado-para-o-seu-e-mail{
    width: 605.4px;
    height: 35px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a0240;
}
